name: deploy-book

# Only run this when the master branch changes
on:
  workflow_dispatch:
  push:
    branches:
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:   
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Free Disk Space (Ubuntu)
      uses: BRAINSia/free-disk-space@v2
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

    # Install dependencies
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: cache installation
      uses: actions/cache@v3
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements.txt') }}

    - id: install-graphviz-linux
      name: Install Graphviz on Linux
      # if: runner.os == 'Linux'
      # shell: bash
      run: |
        # Install Graphviz on Linux
        sudo apt update
        sudo apt install -qy gsfonts
        sudo apt -qq list fonts-liberation gsfonts
        sudo apt install -qy graphviz
        sudo apt -y autoremove --purge
        sudo apt -y autoclean
        sudo apt clean

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Set the kernel to remove the conda kernel
    - name: Remove Special Kernel
      run: |
        python -m ipykernel install --user --name conda-env-cpsc330-24-py
        python -m ipykernel install --user --name conda-env-cpsc330-py
        # jupytext --set-kernel conda-env-cpsc330-24-py --to md:myst
        
    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v4
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
            
